/* colors */
:root {
  --background: #efefef;
  --light_blue: #74a7ee;
  --dark_blue: #12305c;
  --white: #ffffff;
  --black: #000000;
  --overskrift: #42474b;
  --footer: #d6d2ca;
  --yellow: #ffcf62;
  --green: #235621;
  --red: #a01621;
}

/* fonts  */
logo {
  color: var(--white);
  font-size: 2rem;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: var(--overskrift);
  font-size: 3.6rem;
  font-weight: 400;
}

h2 {
  font-family: "Tuffy", sans-serif;
  color: var(--overskrift);
  font-size: 2.3rem;
  font-weight: 300;
}

p {
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  font-weight: 200;
}
