---
//@ts-nocheck
import Forside from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import MusikCard from "../components/MusikCard.astro";
import ForsideInfo from "../components/ForsideInfo.astro";
import Knap from "../components/Knap.astro";
import H2 from "../components/H2.astro";

---

<Forside>
  <HeroSection />
  <H2 />
  <H2 title="KOMMENDE EVENTS " />

  <H2 />
  <H2 title="OM OS" />

  <H2 />
  <H2 title="MAD OG BAR" />
  <MusikCard />
  <ForsideInfo />


  <Knap />

=======
  <section>
    <Knap text="Se events" href="/musik" variant="default" />
    <Knap text="Om os" href="/omos" variant="default" />
    <Knap text="Se mad" href="/mad" variant="default" />
    <Knap text="Se bar" href="/bar" variant="default" />
  </section>
  <Footer />
</Forside>

