---
//@ts-nocheck
import ForsideLayout from "../layouts/ForsideLayout.astro";
import Footer from "../components/Footer.astro";
import MusikCard from "../components/MusikCard.astro";
import ForsideInfo from "../components/ForsideInfo.astro";
import Knap from "../components/Knap.astro";
import H2 from "../components/H2.astro";

const url = "https://ovfqkqxmthqfabnvnndq.supabase.co/rest/v1/byhaven?id=in.(1,2,3,4)&select=*";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92ZnFrcXhtdGhxZmFibnZubmRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY2OTQwNjAsImV4cCI6MjA2MjI3MDA2MH0.QGBHGl0rC79t_ySosixZ13L1Ukt5i3JvPwZaUEnMVvM";

const options = {
  headers: {
    apikey: key,
  },
};
/* Denne bruges for at hente alt data og derefter kunne udvælge få data fra api*/
let events = [];

const res = await fetch(url, options);
const data = await res.json();
/* Gør at vi kun henter de 4 første cards*/
events = data.slice(0, 4);
---

<ForsideLayout>
  <div class="events">
    <H2 title="KOMMENDE EVENTS " />
    <Knap text="Se events" href="/musik" variant="default" />
  </div>

  <section class="forside-events">
    <div class="event-grid">
      {events.map((evt) => <MusikCard data={evt} />)}
    </div>
  </section>

  <section class="section omos">
    <div class="image">
      <h2 class="omosbar-heading mobile-only">OM OS</h2>
      <img src="omos.webp" alt="Byhaven skilt og publikum" />
    </div>
    <div class="text">
      <h2 class="omos-heading desktop-only">OM OS</h2>
      <h3>En oase i hjertet af København</h3>
      <p>Byhaven er en oase i hjertet af det travle København. Hver sommer genåbner vi Byhaven fra april-september. Her kan du nyde Byhaven fra 15 til sent – og der er altid fri entré.</p>
      <p>Vi sætter en dyd i at dykke ned i musikkundergrunden og finde netop den musik, vi synes bør være soundtracket til din sommer.</p>
      <Knap text="Om os" href="/omos" variant="default" />
    </div>
  </section>

  <section class="section madbar">
    <div class="image">
      <h2 class="madbar-heading mobile-only">MAD & BAR</h2>
      <img src="brooklyn.webp" alt="Glas med Brooklyn Brewery øl" />
    </div>
    <div class="text">
      <h2 class="madbar-heading desktop-only">MAD & BAR</h2>
      <h3>Alt det ganen begærer</h3>
      <p>I år løfter vi madoplevelsen i Byhaven – Killer Kebab rykker ind og serverer sprøde, saftige og smagfulde favoritter hele sæsonen! Glæd jer til streetfood-stemning og masser af god energi!</p>
      <p>Baren i Byhaven er spækket med alt det lækre, som ganen begærer. Brooklyn Brewery har fyldt hanerne og køleskabene med lækre øl, så om du er til IPA, pilsnere eller sour, har Brooklyn din ryg – også hvis det skal være alkoholfrit.</p>
      <div class="buttons">
        <Knap text="Se mad" href="/mad" variant="default" />
        <Knap text="Se bar" href="/bar" variant="default" />
      </div>
    </div>
  </section>
</ForsideLayout>

<style>
  .section,
  .section.madbar {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }
  img {
    width: 100%;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }

  .madbar .mobile-only {
    top: 1rem;
    z-index: 2;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 0 auto;
  }

  @media (min-width: 900px) {
    .section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 13rem;
      margin-bottom: 5rem;
    }
    .event-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 40px;
    }

    .buttons {
      display: flex;
      gap: 1rem;
    }

    .image img {
      width: 100%;
      height: auto;
    }
    .mobile-only {
      display: none;
    }

    .desktop-only {
      display: block;
    }

    .text {
      grid-column: 2 / 3;
      max-width: 450px;
      align-self: self-start;
    }

    /* MAD OG BAR */
    .madbar .desktop-only {
      margin: 0 0 1rem 0;
    }

    .madbar .text {
      grid-column: 1 / 2;
      grid-row: 1;
      display: grid;
      grid-template-rows: auto 1fr;
      max-width: 450px;
    }

    .madbar .text h2 {
      grid-row: 1;
      align-self: start;
      margin: 0;
      margin-bottom: 1rem;
    }

    /* OM OS */
    .omos h2 {
      margin-bottom: 1rem;
    }
    .omos .image {
      grid-column: 1 / 2;
    }
  }
</style>
