---
import Layout from "../layouts/Layout.astro";
import Headline from "../components/Headline.astro";
import Knap from "../components/Knap.astro";
---

<Layout>
  <Headline />

  <Headline title="PROGRAM" />
  <section>
    <Knap text="Maj" variant="maj" />
    <Knap text="Juni" variant="juni" />
    <Knap text="Juli" variant="juli" />
    <Knap text="August" variant="august" />
    <Knap text="September" variant="september" />
  </section>
</Layout>
