---
import Layout from "../layouts/Layout.astro";
import Headline from "../components/Headline.astro";
---

<Layout>
  <div class="orange_box"></div>

  <Headline />
  <Headline title="OM OS" />

  <section class="omos">
    <div class="kolonne_1">
      <p class="text_1">Byhaven er mere end musik. Den er fest, snak, hygge, spisning, karaoke, bingo, festivaler, vin, lækre øl, læskende cocktails og kulørte lamper. Vi har masser af siddepladser – både i solen og i skyggen af vores store kastanjetræer – og skulle det blive køligt, tænder vi bare vores varmelamper.</p>

      <div class="billede_wrapper billede1">
        <img src="omos_1.webp" alt="om os billede 1" />
        <p class="overlay">HØJ ENERGI<br />I HAVEN!</p>
      </div>

      <div class="text_2">
        <p>
          Byhaven er en del af spillestedet Pumpehuset, der på to scener i et gammelt nedlagt vandværk præsenterer masser af metal, hiphop, elektronisk musik og meget andet. Tjek Pumpehusets program ud <a href="https://pumpehuset.dk/program/">her</a>.
        </p>
      </div>
    </div>

    <div class="kolonne_2">
      <div class="billede_wrapper billede2">
        <img src="omos_2.webp" alt="Byhaven skilt på scenen" />
      </div>

      <div class="text_3">
        <p>Byhaven er en oase i hjertet af det travle København. Hver sommer, fra april til september – og der er altid fri entré. Hver åbningsdag kan du opleve koncerter med dansk upcoming musik og kommende udenlandske stjerner. Vi sætter en dyd i at dykke ned i musikundergrounden og finde netop den musik, vi synes bør være soundtracket til din sommer. Byhaven åbner kl. 15.00 og koncerterne starter kl. 19.00.</p>
      </div>
    </div>
  </section>
</Layout>

<style>
  .billede_wrapper {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .billede_wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }

  a {
    font-family: "Work Sans", sans-serif;
    color: var(--black);
    font-weight: 300;
    font-size: 17px;
    line-height: 1.8rem;
    padding-bottom: 1rem;
  }

  /* Skråskrift mobil*/
  .overlay {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    position: absolute;
    bottom: -10%;
    left: 5%;
    font-size: 3rem;
    line-height: 1.2;
    color: var(--white);
    transform: rotate(-15deg);
  }

  /* Farvet boks mobil*/
  .orange_box {
    background-color: var(--yellow);
    width: 100vw;
    height: 30rem;
    position: absolute;
    top: 88%;
    left: 0;
    z-index: -1;
  }



  /* Kolonne 1 */
  @media (min-width: 900px) {
    .kolonne_1 {
      display: flex;
      flex-direction: column;
    }

    .text_1 {
      order: 1;
    }

    .text_2 {
      order: 2;
    }

   

    .billede1 {
      order: 3;
      margin-top: 2rem;
    }

    /* Skråskrift */

    .overlay {
      font-size: 5rem;
      bottom: -20%;
      left: 5%;
      transform: rotate(-15deg);
    }

    .billede_wrapper {
      position: relative;
      margin-bottom: 2rem;
      margin-top: 0rem;
    }
     .omos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6rem;
      padding-bottom: 5rem;
  }
  } 
</style>
