/* colors */
:root {
  --background: #efefef;
  --light_blue: #8ba3c5;
  --dark_blue: #12305c;
  --white: #ffffff;
  --black: #000000;
  --overskrift: #42474b;
  --footer: #d6d2ca;
  --yellow: #c99b3f;
  --green: #305a2f;
  --red: #b95a60;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts  */
logo {
  color: var(--white);
  font-size: 2rem;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: var(--overskrift);
  font-size: 2.7rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2.5rem;
}

h2 {
  font-family: "Tuffy", sans-serif;
  color: var(--overskrift);
  font-size: 2.3rem;
  font-weight: 300;
}

p {
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  font-weight: 300;
  font-size: 17px;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}

li {
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}

h5 {
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  font-weight: 800;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

a {
  font-family: "Work Sans", sans-serif;
  color: var(--black);
  font-weight: 300;
  font-size: 10px;
  line-height: 1.6rem;
}

body {
  background-color: var(--background);
}
