---
import "../style/global.css";
---

<div class="footer">
  <h2 class="logo">Byhaven</h2>
  <div>
    <div>
      <h3>ÅBNINGSTIDER</h3>
      <p>Byhaven åbner igen den 25. april <br> - som altid fri entré</p>
      <p>Byhaven åbner kl. 15.00 og koncerterne starter kl. 19.00.</p>
    </div>
    <div class="icons">
      <h3>FØLG MED HER</h3>
      <a class="instagram" href="https://www.instagram.com/byhavencopenhagen"><img src="/instagram.svg" alt="Instagram" /></a>
      <a class="facebook" href="https://www.facebook.com/byhavenpumpehuset"><img src="/facebook.svg" alt="Facebook" /></a>
      <a class="tiktok" href="https://www.tiktok.com/@byhavencopenhagen?_t=ZN-8wJgjcTP2Mo&_r=1"><img src="/tiktok.svg" alt="TikTok" /></a>
    </div>
  </div>
  <div>
    <div>
      <h3>ADRESSE</h3>
      <p>Studiestræde 52</p>
      <p>1554 København V</p>
    </div>
    <div>
      <h3>KONTAKT</h3>
      <p>info@pumpehuset.dk</p>
    </div>
  </div>
  <div class="logos">
    <img class="killerkebab" src="/killerkebabgro.png" alt="killerkebab" />
    <img class="brooklyn" src="/bbny.png" alt="brooklyn" />
  </div>
</div>

<style>
  .footer {
    background-color: #d6d2ca;
    color: #000;
    padding: 20px;
    padding-top: 4rem;
  }
  div {
    padding-bottom: 1.5rem;
  }
  h2 {
    padding-bottom: 2rem;
  }

  h3 {
    font-family: "Work Sans", sans-serif;
    color: var(--black);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.8rem;
    padding-bottom: 1rem;
  }

  .killerkebab {
  width: 50px;
}

.brooklyn {
  width: 95px; 
}

  .icons img {
    width: 26px;
    height: auto;
  } 

  @media (min-width: 600px) {
.killerkebab {
  width: 70px;
}

.brooklyn {
  width: 120px; 
}

    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
    .logos {
      grid-column: 4/5;
      grid-row: 1;
      padding-top: 4rem;
    }

    .icons img {
      width: 30px;
      height: auto;
    }

    h2 {
    padding-bottom: 2rem;
    align-content: center;
    padding-left: 1rem;
  }
  }
</style>
