---
const { text = "Klik her", href = "#", variant = "default" } = Astro.props;
---

<a href={href} class={`knap ${variant}`}>{text}</a>

<style>
  .knap {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    padding: 0.8em 1.5em;
    border: 1px solid black;
    text-decoration: none;
    font-family: "tuffy", sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
  }

  /* Fælles hover for default */
  .knap.default:hover {
    background-color: #42474b;
    color: #ffffff;
  }

  /* Varianter til musik-siden */
  .knap.maj:hover {
    background-color: #a01621; /* Rød */
    color: #ffffff;
  }

  .knap.juni:hover {
    background-color: #c99b3f; /* Gul */
    color: #ffffff;
  }
  .knap.juli:hover {
    background-color: #305a2f; /* Grøn */
    color: #ffffff;
  }

  .knap.august:hover {
    background-color: #8ba3c5; /* Blå */
    color: #ffffff;
  }

  .knap.september:hover {
    background-color: #12305c; /* Mørkeblå */
    color: #ffffff;
  }
</style>
